<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/new")
    @Scripts.Render("~/bundles/new")
    @Scripts.Render("~/bundles/jquery.mobile-1.4.5")
    @Styles.Render("~/Content/jquery-mobile")

</head>


<body id="main">
    <div class="page-header">
       <h3>To do list</h3>       

    </div>
    @RenderBody()

</body>
</html>